:root {
    --primary-color: #FC5E14;
    --secondary-color: #FB912B;
    --tertiary-color: #ffe502;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --gray-color: #c0c0c0;
    --red-color: #FF0000;  
}